# Environment files
*.env
*.env.*

__pycache__/
*.pyc

# Local pytest venv (optional)
backend/.testvenv/

# Capacitor native platforms (Not ignored anymore to sync custom changes)
# frontend/android/
# frontend/ios/
backend/firebase-admin-key.json
